<%= render 'banner' %>

<div id='personal_info' class='post'>
  <%= image_tag('profile_pic.jpg', :id => 'profile_pic') %>
  <h1 class='post_title'>Gary Hammell</h1>
  <span>Web Developer</span>
  <p class='post_info'>
    Having attended Dev Bootcamp, a 19 week, immersive web development school, I now wake up every morning eager to build new, beautiful applications. I am actively seeking a web development role that will enable me to apply my creativity and passion for code, and that will push the boundaries of my learning.
    <br><br>
    Three years in the finance industry provided me optimal experience solving problems, working on teams, and making an impact cross functionally. I'm ready to apply myself further by contributing to exciting web applications, dreaming up new ideas, and coding those ideas into reality.
  </p>
  <div id='skills_header'>
    <span>Skills</span>
  </div>
  <ul id='skills'>
    <li>Ruby</li>
    <li>Rails</li>
    <li>Javascript</li>
    <li>jQuery</li>
    <li>AJAX</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>SQL</li>
    <li>PostgreSQL</li>
    <li>HTTP</li>
    <li>REST</li>
    <li>JSON</li>
    <li>TDD</li>
  </ul>
  <%= render 'logos' %>
</div>

<h1 id='project_headline'>Projects:</h1>

<div class='post'>
  <%= link_to image_tag('github_logo.png', :class => 'post_logo'), 'https://github.com/ghammell/Scrabble-Clone' %>
  <h1 class='post_title'>Scrabble Clone</h1>
  <a href='http://scrabble-clone.herokuapp.com/' target="_blank">scrabble-clone.herokuapp.com</a>
  <p class='post_info'>
    I was asked in an interview "how would you build an online scrabble game?"  So, I thought I'd give it a shot.
  </p>
</div>

<div class='post'>
  <%= link_to image_tag('github_logo.png', :class => 'post_logo'), 'https://github.com/tiger-swallowtails-2014/FitFriends/tree/master/Fitnasty' %>
  <h1 class='post_title'>Fit Friends</h1>
  <a href='http://fit--friends.herokuapp.com/' target="_blank">fit--friends.herokuapp.com</a>
  <p class='post_info'>
    FitFriends keeps people motivated to exercise and stay healthy by enabling them to connect with their friends and achieve fitness goals as a community. Through the creation, completion, and sharing of challenges by its users, FitFriends transforms exercise from a personal adventure to a social one, motivating and exciting users to stay fit.
  </p>
  <span class='more'>More...</span>
  <p class='hidden_info'>
    The application is heavy on the client side, utilizing JavaScript, JQuery, Ajax, and Handlebars, paired with a rails back-end that serves JSON. Our focus was to keep code clean and modular, enabling us to easily implement or remove functionality, to efficiently break up responsibilities, and to continue making adjustments and improvements into the future.
    <br><br>
    Having proposed the idea for this app, I was designated team lead. My responsibilities included managing the teams combined coding effort and ensuring we stayed on track to showcase a well built app with a tight deadline. My heaviest code contributions were in the friending and search functionalities, with additional support spread throughout the rest of the app.
  </p>
  <span class='less'>Less...</span>
</div>

<div class='post'>
  <%= link_to image_tag('github_logo.png', :class => 'post_logo'), 'https://github.com/DreamforceHackathon/Dropify' %>
  <h1 class='post_title'>Dropify</h1>
  <a href='http://dropify.herokuapp.com/' target="_blank">dropify.herokuapp.com</a>
  <p class='post_info'>
    Dropify is a mobile-first web application that allows users to 'drop' messages and photos in their current location to be found later by others. Wander around a city and discover experiences and memories left by other Dropify users or, as an advertiser, pay to leave featured content in any location.
  </p>
  <span class='more'>More...</span>
  <p class='hidden_info'>
    Dropify was created for the Salesforce.com 'Dreamforce' 48-hour Hackathon and uses Rails as a back-end API with a thick HTML5/Javascript mobile client. Google Maps was implemented for both geolocation and to provide a richer user experience, whilst Stripe was used to allow advertisers to pay for featured content.
  </p>
  <span class='less'>Less...</span>
</div>

<div class='post'>
  <%= link_to image_tag('github_logo.png', :class => 'post_logo'), 'https://github.com/ghammell/BrokeBuzz' %>
  <h1 class='post_title'>BrokeBuzz</h1>
  <a href='http://www.brokebuzz.com' target="_blank">brokebuzz.com</a>
  <p class='post_info'>
    BrokeBuzz is a fun project that I put together to improve upon and demonstrate my rails ability. The idea behind BrokeBuzz is to enable users to search for beer, wine, or liquor, and after making a few additional inputs, determine which selection will most efficiently get them buzzed (based off the lowest price per pure ounce of alcohol). Several items I focused on including in this project were:
  </p>
  <span class='more'>More...</span>
  <p class='hidden_info'>
    - use of HTTParty gem to connect with BreweryDB and Wine.com APIs for wine & beer searches<br>
    - rails conventions like restful routes, div_for, and form helpers<br>
    - before save / after save functionality in the Items model<br>
    - continuous integration and deployment to Heroku through circle CI<br>
    - randomly generated, dynamic background<br>
    - single page applicaton<br>
    - rspec testing<br>
  </p>
  <span class='less'>Less...</span>
</div>

<div class='post'>
  <%= link_to image_tag('github_logo.png', :class => 'post_logo'), 'https://github.com/ghammell/headcount_app' %>
  <h1 class='post_title'>Blowfish Resource Planning</h1>
  <a href='http://blowfishrp.herokuapp.com/' target="_blank">blowfishrp.herokuapp.com</a>
  <p class='post_info'>
    Blowfish RP makes headcount budgeting simple and quick for small businesses that don't have funds for enterprise software. Simply log in, and within a few clicks you can create and save a headcount budget.  Retrieve and edit your budgets for any necessary adjustments.
  </p>
  <span class='more'>More...</span>
  <p class='hidden_info'>
    The idea for this app stemmed from my background in Finance, where forecasting for headcount was always an unnecessarily huge undertaking.  My plan is to build upon this simple idea to create a more comprehensive application for small to mid-sized businesses.  This app was built using the Sinatra framework.
  </p>
  <span class='less'>Less...</span>
</div>

<div class='post'>
  <%= link_to image_tag('github_logo.png', :class => 'post_logo'), 'https://github.com/ghammell/BeerOverflow' %>
  <h1 class='post_title'>Stack Overflow Clone</h1>
  <a href='http://stackoverflow-project.herokuapp.com/' target="_blank">stackoverflow-project.herokuapp.com</a>
  <p class='post_info'>
    The intent of this project was to improve upon our knowledge of rails by creating a web app similiar to Stack Overflow.  Users can post questions, answers, and comments - all of which can be upvoted or downvoted.  The emphasis of the project was getting the database schema correct, utilizing polymorphic associations to enable commenting on both answers and questions, as well as voting on questions, answers, and comments.  We used the bcrypt ruby gem for password security.
  </p>
</div>

<div class='post'>
  <%= link_to image_tag('github_logo.png', :class => 'post_logo'), 'https://github.com/ghammell/Survey_Gorilla_challenge' %>
  <h1 class='post_title'>Survey Gorilla Clone</h1>
  <a href='http://surveybroccoli.herokuapp.com' target="_blank">surveybroccoli.herokuapp.com</a>
  <p class='post_info'>
    The intent of this project was to improve upon our knowledge of the Sinatra framework and AJAX by creating a one page web app similiar to Survey Monkey.  Signed-in users can create surveys for other users to take, and can then view the results.  Anyone can take a survey, whether they are signed in or not.
  </p>
</div>