<!DOCTYPE html>
<html>
<head>
  <title>Garysite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <div id='main'>
    <%= render 'welcome/index' %>
  </div>

<!--   <section id='nav'>
    <%= render 'welcome/nav' %>
  </section> -->

  <footer>
    <%= image_tag('golden_gate.png', :id => 'golden_gate_image') %>
    <%= image_tag('SF_skyline.png', :id => 'skyline_image') %>
    <%= image_tag('moon.png', :id => 'moon_image') %>
  </footer>

</body>
</html>
